<h2>Browse Vehicles by Classification</h2>

<div class="classification-buttons">
  <a href="/inv/classification/Custom"><button>Custom</button></a>
  <a href="/inv/classification/Sedan"><button>Sedan</button></a>
  <a href="/inv/classification/Suv"><button>Suv</button></a>
  <a href="/inv/classification/Truck"><button>Truck</button></a>
</div>

