<%
// Make sure variables exist to prevent ReferenceErrors
const safeLoggedin = typeof loggedin !== 'undefined' ? loggedin : false;
const safeAccountData = typeof accountData !== 'undefined' ? accountData : null;
const safeCurrentPath = typeof currentPath !== 'undefined' ? currentPath : '';
%>



<main>
  <section class="error-page">
    <h1><%= title %></h1>
    <p><%= message %></p>
  </section>
</main>


